section.hero-shot
  .row.space-top.double
    .column
      .large-7.medium-7.columns

      .large-5.medium-5.columns
        h2 
          | No pressure,
          br 
          | but choosing
          br 
          | a college is
          br
          span Big