-var pageTitle ="Kankakee Community College campus look for juniors in high school"
-var pageDescription ="No pressure, but choosing a college is BIG. KCC is a smart choice. You can even enroll in classes while you’re in high school."
doctype html
html(class="no-js", lang="en")
  include header
  body.html.front.not-logged-in.no-sidebars.page-frontpage
    include jade/navigation-header
    include jade/hero-shot.jade
    include jade/save-time-money
    include jade/fifty-eight-quality-choices
    include footer