-var pageTitle ="KCC Junior's Viewbook"

doctype html
html(class="no-js", lang="en")
  include header
  body.html.front.not-logged-in.no-sidebars.page-frontpage
    include jade/navigation-header
    include jade/hero-shot.jade
    include jade/save-time-money
    include jade/fifty-eight-quality-choices
    include footer