section.save-time-money
  .row.space-top.space-bottom
    .column
      img(src='/images/group-people.jpg')
    .row.space-top.space-bottom
    .column
      h2.centered Dual Enrollment
      .large-5.medium-5.columns
        h3 Save money!
        p KCC is affordable. Tuition and fees are about one-fourth the cost
          | of Illinois public colleges or universities, and a fraction of the cost
          | of private universities.
        h3 Save time!
        p Trim your college course load and make it easier to maintain
          | a high GPA in college.
      .large-7.medium-7.columns.grad-steps-ahead
        .row.space-top.space-bottom
          .column
            .large-12.column
              h3 Take college classes while you
                span '
                | re still in high school
section.save-time-money
  .row.space-top.space-bottom
    .column
      img(src='/images/bio-girls.jpg')
    .row.space-top.space-bottom
    .column
      h2.centered Dual Credit
      .large-5.medium-5.columns
        h3 Earn both high school & college credit at your school
        
      .large-7.medium-7.columns.grad-steps-ahead-g
        .row
          .column
            .large-6.column
              .steps
            .large-6.column
              h3 Get steps ahead
              h4 Dual Credit
              p Earn BOTH high school & college credit simultaneously! 
          